*{
    outline: auto;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.frame{
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    flex:0;
}

.keys{
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    flex:0;
}

button{
    margin: 10px;
    height: 60px;
    width: 60px;
    font-family: 'roboto';
    border: none;
    background:black;
    border-radius: 30px;
    font-size: 20px;
    color: aliceblue;
}